python-telegram-bot==21.10
python-dotenv==1.0.0
fuzzywuzzy==0.18.0
Pillow==11.1.0
pytz==2024.1
cairosvg==2.7.1
psutil==5.9.6
requests==2.32.3
aiohttp==3.9.1
ujson==5.8.0
google-analytics-data==0.18.16 